In [12]:
import pandas as pd
from sqlalchemy import create_engine
from secret import username, password

In [13]:
file = "all_stocks_5yr.csv"
df = pd.read_csv(file)
df.head()

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

In [14]:
df = df.rename(columns = {'Name':'ticker',
                            'date':'date_close'
                           })
df.head()
df_ticker = df[['ticker']]
df_ticker.drop_duplicates("ticker", inplace=True)

<ipython-input-14-6608ba205a3b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ticker.drop_duplicates("ticker", inplace=True)

In [15]:
connection_string = f'{username}:{password}@localhost:5432/Stock_DB'
engine = create_engine(f'postgresql://{connection_string}')

In [16]:
engine.table_names()

['add_sub',
 'addition',
 'ticker_security_name',
 'subtraction',
 'current_component',
 'daily_data']

In [17]:
for i in range(len(df_ticker)):
    try:
        df_ticker.iloc[i:i+1].to_sql(name='ticker_security_name', con=engine, if_exists='append',index=False)
    except:
       pass #or any other action

In [11]:
df.to_sql(name='daily_data', con=engine, if_exists='append', index=True)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "daily_data_pkey"
DETAIL:  Key (index)=(0) already exists.

[SQL: INSERT INTO daily_data (index, date_close, open, high, low, close, volume, ticker) VALUES (%(index)s, %(date_close)s, %(open)s, %(high)s, %(low)s, %(close)s, %(volume)s, %(ticker)s)]
[parameters: ({'index': 0, 'date_close': '2013-02-08', 'open': 15.07, 'high': 15.12, 'low': 14.63, 'close': 14.75, 'volume': 8407500, 'ticker': 'AAL'}, {'index': 1, 'date_close': '2013-02-11', 'open': 14.89, 'high': 15.01, 'low': 14.26, 'close': 14.46, 'volume': 8882000, 'ticker': 'AAL'}, {'index': 2, 'date_close': '2013-02-12', 'open': 14.45, 'high': 14.51, 'low': 14.1, 'close': 14.27, 'volume': 8126000, 'ticker': 'AAL'}, {'index': 3, 'date_close': '2013-02-13', 'open': 14.3, 'high': 14.94, 'low': 14.25, 'close': 14.66, 'volume': 10259500, 'ticker': 'AAL'}, {'index': 4, 'date_close': '2013-02-14', 'open': 14.94, 'high': 14.96, 'low': 13.16, 'close': 13.99, 'volume': 31879900, 'ticker': 'AAL'}, {'index': 5, 'date_close': '2013-02-15', 'open': 13.93, 'high': 14.61, 'low': 13.93, 'close': 14.5, 'volume': 15628000, 'ticker': 'AAL'}, {'index': 6, 'date_close': '2013-02-19', 'open': 14.33, 'high': 14.56, 'low': 14.08, 'close': 14.26, 'volume': 11354400, 'ticker': 'AAL'}, {'index': 7, 'date_close': '2013-02-20', 'open': 14.17, 'high': 14.26, 'low': 13.15, 'close': 13.33, 'volume': 14725200, 'ticker': 'AAL'}  ... displaying 10 of 619040 total bound parameter sets ...  {'index': 619038, 'date_close': '2018-02-06', 'open': 72.74, 'high': 74.56, 'low': 72.13, 'close': 73.27, 'volume': 4924323, 'ticker': 'ZTS'}, {'index': 619039, 'date_close': '2018-02-07', 'open': 72.7, 'high': 75.0, 'low': 72.69, 'close': 73.86, 'volume': 4534912, 'ticker': 'ZTS'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)