In [1]:
import pandas as pd
from sqlalchemy import create_engine
from secret import username, password

In [4]:
file = "all_stocks_5yr.csv"
df = pd.read_csv(file)
df.head()

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

In [5]:
df = df.rename(columns = {'Name':'ticker',
                            'date':'date_close'
                           })
df.head()
df_ticker = df[['ticker']]
df_ticker.drop_duplicates("ticker", inplace=True)

<ipython-input-5-6608ba205a3b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ticker.drop_duplicates("ticker", inplace=True)

In [6]:
connection_string = f'{username}:{password}@localhost:5432/Stock_DB'
engine = create_engine(f'postgresql://{connection_string}')

In [7]:
engine.table_names()

['ticker_security', 'index_event', 'daily_data']

In [8]:
for i in range(len(df_ticker)):
    try:
        df_ticker.iloc[i:i+1].to_sql(name='ticker_security', con=engine, if_exists='append',index=False)
    except:
       pass #or any other action

In [10]:
df.to_sql(name='daily_data', con=engine, if_exists='append', index=True)