In [52]:
import pandas as pd
from sqlalchemy import create_engine
from secret import username, password
from datetime import datetime

In [58]:
file = "Current_Component_List.csv"
df = pd.read_csv(file,encoding = "ISO-8859-1")
df.head()

,Symbol,Security,SEC filings,Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",8/9/1976,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",3/31/1964,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",12/31/2012,1551152,2013
3,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",5/31/2018,815094,1981
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",7/6/2011,1467373,1989

In [59]:
df = df.rename(columns = {'Symbol':'ticker',
                            'Date first added':'date_added',
                          'Security':'security_name'
                           })
dfc = df[['ticker','date_added']]


df_ticker = df[['ticker','security_name']]
df_ticker.drop_duplicates("ticker", inplace=True)
df_ticker.head()

<ipython-input-59-5da26d6f4e4e>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ticker.drop_duplicates("ticker", inplace=True)

  ticker        security_name
0    MMM           3M Company
1    ABT  Abbott Laboratories
2   ABBV          AbbVie Inc.
3   ABMD          ABIOMED Inc
4    ACN        Accenture plc

In [60]:
connection_string = f'{username}:{password}@localhost:5432/Stock_DB'
engine = create_engine(f'postgresql://{connection_string}')

In [61]:
engine.table_names()

['add_sub',
 'addition',
 'ticker_security_name',
 'subtraction',
 'current_component',
 'daily_data']

In [62]:
for i in range(len(df_ticker)):
    try:
        df_ticker.iloc[i:i+1].to_sql(name='ticker_security_name', con=engine, if_exists='append',index=False)
    except:
       pass #or any other action

In [63]:
dfc.to_sql(name='current_component', con=engine, if_exists='append', index=False)