In [13]:
import pandas as pd
from sqlalchemy import create_engine
from secret import username, password

In [14]:
file = "Alpha_Vantage_Export.csv"
df = pd.read_csv(file)
df.head()

   Unnamed: 0        date   open     high    low  close  volume name
0           0  2020-07-30  11.22  11.3900  11.12  11.18   11.18  MMM
1           1  2020-07-29  11.80  11.9200  11.30  11.40   11.40  MMM
2           2  2020-07-28  11.37  11.9950  11.36  11.77   11.77  MMM
3           3  2020-07-27  11.48  11.7938  11.18  11.39   11.39  MMM
4           4  2020-07-24  11.67  11.8200  11.34  11.39   11.39  MMM

In [15]:
df = df.rename(columns = {'name':'ticker',
                            'date':'date_close',
                          'high':'high',
                          'open':'open',
                          'low':'low',
                          'close':'close',
                          'volume':'volume'
                           })
df = df[['ticker','date_close','high','open','low','close','volume']]
df_ticker = df[['ticker']]
df_ticker.drop_duplicates("ticker", inplace=True)
df.head()

<ipython-input-15-1bff07c75555>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ticker.drop_duplicates("ticker", inplace=True)

  ticker  date_close     high   open    low  close  volume
0    MMM  2020-07-30  11.3900  11.22  11.12  11.18   11.18
1    MMM  2020-07-29  11.9200  11.80  11.30  11.40   11.40
2    MMM  2020-07-28  11.9950  11.37  11.36  11.77   11.77
3    MMM  2020-07-27  11.7938  11.48  11.18  11.39   11.39
4    MMM  2020-07-24  11.8200  11.67  11.34  11.39   11.39

In [16]:
connection_string = f'{username}:{password}@localhost:5432/Stock_DB'
engine = create_engine(f'postgresql://{connection_string}')

In [17]:
engine.table_names()

['add_sub',
 'addition',
 'ticker_security_name',
 'subtraction',
 'current_component',
 'daily_data']

In [18]:
for i in range(len(df_ticker)):
    try:
        df_ticker.iloc[i:i+1].to_sql(name='ticker_security_name', con=engine, if_exists='append',index=False)
    except:
       pass #or any other action

In [12]:
df.to_sql(name='daily_data', con=engine, if_exists='append', index=True)