In [2]:
import pandas as pd
from sqlalchemy import create_engine
from secret import username, password
from datetime import datetime

In [3]:
file = "ticker_security.csv"
df = pd.read_csv(file,encoding = "ISO-8859-1")
df.head()

  ticker        security_name  sp500  djia30
0    MMM           3M Company   True    True
1    ABT  Abbott Laboratories   True   False
2   ABBV          AbbVie Inc.   True   False
3   ABMD          ABIOMED Inc   True   False
4    ACN        Accenture plc   True   False

In [9]:
df = df.rename(columns = {'ticker':'ticker',
                            'sp500':'sp500',
                          'security_name':'security_name',
                          'sp500':'sp500',
                          'djia30':'djia30'})

In [10]:
connection_string = f'{username}:{password}@localhost:5432/Stock_DB'
engine = create_engine(f'postgresql://{connection_string}')

In [11]:
engine.table_names()

['ticker_security', 'index_event', 'daily_data']

In [ ]:
df.to_sql(name='ticker_security', con=engine, if_exists='append', index=False)