In [1]:
import pandas as pd
from sqlalchemy import create_engine
from secret import username, password

In [2]:
file = "Alpha_Vantage_Export_Extra_Tickers.csv"
df = pd.read_csv(file)
df.head()

   Unnamed: 0        date   open     high    low  close  volume name
0           0  2020-07-31  11.16  11.2500  10.80  11.12   11.12  GGP
1           1  2020-07-30  11.22  11.3900  11.12  11.18   11.18  GGP
2           2  2020-07-29  11.80  11.9200  11.30  11.40   11.40  GGP
3           3  2020-07-28  11.37  11.9950  11.36  11.77   11.77  GGP
4           4  2020-07-27  11.48  11.7938  11.18  11.39   11.39  GGP

In [3]:
df = df.rename(columns = {'name':'ticker',
                            'date':'date_close',
                          'high':'high',
                          'open':'open',
                          'low':'low',
                          'close':'close',
                          'volume':'volume'
                           })
df = df[['ticker','date_close','high','open','low','close','volume']]
df_ticker = df[['ticker']]
df_ticker.drop_duplicates("ticker", inplace=True)
df.head()

<ipython-input-3-1bff07c75555>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ticker.drop_duplicates("ticker", inplace=True)

  ticker  date_close     high   open    low  close  volume
0    GGP  2020-07-31  11.2500  11.16  10.80  11.12   11.12
1    GGP  2020-07-30  11.3900  11.22  11.12  11.18   11.18
2    GGP  2020-07-29  11.9200  11.80  11.30  11.40   11.40
3    GGP  2020-07-28  11.9950  11.37  11.36  11.77   11.77
4    GGP  2020-07-27  11.7938  11.48  11.18  11.39   11.39

In [4]:
connection_string = f'{username}:{password}@localhost:5432/Stock_DB'
engine = create_engine(f'postgresql://{connection_string}')

In [5]:
engine.table_names()

['daily_data', 'ticker_security', 'index_event']

In [6]:
for i in range(len(df_ticker)):
    try:
        df_ticker.iloc[i:i+1].to_sql(name='ticker_security', con=engine, if_exists='append',index=False)
    except:
       pass #or any other action

In [7]:
df.to_sql(name='daily_data', con=engine, if_exists='append', index=False)