In [1]:
import pandas as pd
from sqlalchemy import create_engine
from secret import username, password

In [2]:
file = "Alpha_Vantage_Export.csv"
df = pd.read_csv(file)
df.head()

   Unnamed: 0        date    open    high      low   close  volume name
0           0  2020-07-31  151.68  151.75  148.800  150.47  150.47  MMM
1           1  2020-07-30  154.31  154.72  151.361  152.12  152.12  MMM
2           2  2020-07-29  156.50  157.53  154.920  156.25  156.25  MMM
3           3  2020-07-28  155.47  157.48  153.800  155.33  155.33  MMM
4           4  2020-07-27  159.53  163.38  159.330  163.24  163.24  MMM

In [3]:
df = df.rename(columns = {'name':'ticker',
                            'date':'date_close',
                          'high':'high',
                          'open':'open',
                          'low':'low',
                          'close':'close',
                          'volume':'volume'
                           })
df = df[['ticker','date_close','high','open','low','close','volume']]
df_ticker = df[['ticker']]
df_ticker.drop_duplicates("ticker", inplace=True)
df.head()

<ipython-input-3-1bff07c75555>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ticker.drop_duplicates("ticker", inplace=True)

  ticker  date_close    high    open      low   close  volume
0    MMM  2020-07-31  151.75  151.68  148.800  150.47  150.47
1    MMM  2020-07-30  154.72  154.31  151.361  152.12  152.12
2    MMM  2020-07-29  157.53  156.50  154.920  156.25  156.25
3    MMM  2020-07-28  157.48  155.47  153.800  155.33  155.33
4    MMM  2020-07-27  163.38  159.53  159.330  163.24  163.24

In [4]:
connection_string = f'{username}:{password}@localhost:5432/Stock_DB'
engine = create_engine(f'postgresql://{connection_string}')

In [5]:
engine.table_names()

['ticker_security', 'index_event', 'daily_data']

In [6]:
for i in range(len(df_ticker)):
    try:
        df_ticker.iloc[i:i+1].to_sql(name='ticker_security', con=engine, if_exists='append',index=False)
    except:
       pass #or any other action

In [7]:
df.to_sql(name='daily_data', con=engine, if_exists='append', index=False)