In [32]:
import pandas as pd
from sqlalchemy import create_engine
from secret import username, password
from datetime import datetime

In [33]:
file = "Index_Event.csv"
df = pd.read_csv(file,encoding = "ISO-8859-1")
df.head()

,Date,ticker,Reason,Direction,Indices
0,3-Apr-20,OTIS,United Technologies spun off Otis and Carrier ...,True,SP500
1,3-Apr-20,CARR,United Technologies spun off Otis and Carrier ...,True,SP500
2,8-Apr-16,UA,Under Armour distribution of second class of s...,True,SP500
3,18-Sep-15,CMCSK,Share class methodology change[95],True,SP500
4,18-Sep-15,FOX,Share class methodology change,True,SP500

In [42]:
df = df.rename(columns = {'ticker':'ticker',
                            'Date':'date_close',
                          'Reason':'reason',
                          'Direction':'direction',
                          'Indices':'indices'
                           })
dfc = df[['ticker','date_close','reason','direction','indices']]


df_ticker = df[['ticker']]
df_ticker.drop_duplicates("ticker", inplace=True)
df_ticker.head()

<ipython-input-42-37f2209c513e>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ticker.drop_duplicates("ticker", inplace=True)

  ticker
0   OTIS
1   CARR
2     UA
3  CMCSK
4    FOX

In [43]:
connection_string = f'{username}:{password}@localhost:5432/Stock_DB'
engine = create_engine(f'postgresql://{connection_string}')

In [44]:
engine.table_names()

['ticker_security', 'index_event', 'daily_data', 'ticker_security_name']

In [45]:
for i in range(len(df_ticker)):
    try:
        df_ticker.iloc[i:i+1].to_sql(name='ticker_security', con=engine, if_exists='append',index=False)
    except:
       pass #or any other action

In [46]:
dfc.to_sql(name='index_event', con=engine, if_exists='append', index=True)