In [1]:
import datetime as dt
import numpy as np
import pandas as pd
from pandas_datareader import data as web
import time
from tqdm.notebook import tqdm

import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline

In [2]:
# Read csv files
#1) From kaggle SP500 
SP_500_13_18=pd.read_csv("all_stocks_5yr.csv")
df2=pd.read_csv("constituents2.csv")
# #2)From Current_Component_List.csv
# current_SP500_comp=pd.read_csv("Current_Component_List.csv")
# # #3) Date_Added_List.csv
# # date_added_df=pd.read_csv("Date_Added_List.csv")

### Read from yahoo- Test for single ticker name

In [3]:
start_time = pd.to_datetime("2018, 2, 8", infer_datetime_format=True, format='%Y-%m-%d %H:%M:%S')
end_time = pd.to_datetime("2020, 7, 28", infer_datetime_format=True, format='%Y-%m-%d %H:%M:%S')

In [4]:
df = web.DataReader('AAPL', 'yahoo', start_time, end_time)
df.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-07-22,391.899994,386.410004,386.769989,389.089996,22250400.0,389.089996
2020-07-23,388.309998,368.040009,387.989990,371.380005,49251100.0,371.380005
2020-07-24,371.880005,356.579987,363.950012,370.459991,46359700.0,370.459991
2020-07-27,379.619995,373.920013,374.839996,379.239990,30303500.0,379.239990
2020-07-28,378.200012,372.989990,377.470001,373.010010,25906400.0,373.010010

### Define a function

In [5]:
# Get all ticker symbols 
list(SP_500_13_18.columns.values)
ticker_list=df2['Symbol'].to_list()
set_ticker_list=set(ticker_list)
ticker_lst=list(set_ticker_list)
ticker_lst

['TJX',
 'NVDA',
 'GWW',
 'O',
 'VFC',
 'AAP',
 'BAX',
 'GLW',
 'GL',
 'CCL',
 'CMI',
 'HWM',
 'CVS',
 'INTC',
 'BWA',
 'QCOM',
 'TPR',
 'D',
 'CSX',
 'CXO',
 'SNPS',
 'BMY',
 'GS',
 'DTE',
 'PHM',
 'DG',
 'JNJ',
 'ABT',
 'HOLX',
 'DFS',
 'HAS',
 'CMCSA',
 'IPGP',
 'GOOGL',
 'F',
 'BBY',
 'GM',
 'DD',
 'TTWO',
 'SYK',
 'EBAY',
 'XYL',
 'CME',
 'MLM',
 'LNT',
 'DE',
 'SLB',
 'IFF',
 'LMT',
 'KMI',
 'EQR',
 'HSY',
 'MRK',
 'HBI',
 'UNP',
 'GD',
 'COO',
 'USB',
 'VIAC',
 'FDX',
 'CTXS',
 'SWKS',
 'AMCR',
 'ROP',
 'FTNT',
 'ETR',
 'PBCT',
 'LEN',
 'STX',
 'EL',
 'MXIM',
 'UA',
 'TFX',
 'NI',
 'ABBV',
 'PEG',
 'GPS',
 'FIS',
 'IT',
 'LEG',
 'TRV',
 'HRB',
 'FITB',
 'ECL',
 'PNC',
 'HPE',
 'TXT',
 'FMC',
 'AMGN',
 'MCK',
 'URI',
 'HON',
 'PNR',
 'MSCI',
 'UNM',
 'TFC',
 'MA',
 'CTVA',
 'RF',
 'V',
 'TMO',
 'HUM',
 'PEAK',
 'VZ',
 'WFC',
 'REGN',
 'VRTX',
 'JCI',
 'COTY',
 'OKE',
 'OXY',
 'JNPR',
 'IP',
 'NOV',
 'OMC',
 'ANET',
 'ED',
 'MOS',
 'FRT',
 'COF',
 'CNC',
 'RMD',
 'AJG',
 'CPB',
 'MTB',
 'EIX',
 'EXPD',
 'TROW',
 'UNH',
 'SNA',
 'FRC',
 'BLK',
 'EOG',
 'BK',
 'IBM',
 'ZBRA',
 'NVR',
 'CBOE',
 'APH',
 'CTL',
 'NEE',
 'WMT',
 'EMN',
 'MPC',
 'SRE',
 'IDXX',
 'CHD',
 'AVY',
 'IPG',
 'HBAN',
 'MDLZ',
 'HST',
 'FLIR',
 'BIO',
 'CDW',
 'EA',
 'LB',
 'PVH',
 'TGT',
 'CSCO',
 'IRM',
 'MMC',
 'PKI',
 'WHR',
 'LYB',
 'WU',
 'PKG',
 'XRX',
 'ROL',
 'HPQ',
 'RCL',
 'WM',
 'PCAR',
 'NTAP',
 'CTAS',
 'UAL',
 'BLL',
 'CHRW',
 'TMUS',
 'OTIS',
 'YUM',
 'GE',
 'ROK',
 'CFG',
 'NUE',
 'WST',
 'MU',
 'INCY',
 'PAYX',
 'AWK',
 'AIV',
 'MAS',
 'DUK',
 'ISRG',
 'C',
 'IQV',
 'MSI',
 'NSC',
 'CAG',
 'ALXN',
 'ORCL',
 'DLTR',
 'LIN',
 'AOS',
 'FTI',
 'SBAC',
 'SYF',
 'FCX',
 'STE',
 'NLSN',
 'VLO',
 'AAL',
 'AAPL',
 'EXPE',
 'KHC',
 'TAP',
 'KEY',
 'LLY',
 'KSS',
 'MCHP',
 'AEE',
 'ATVI',
 'JBHT',
 'PAYC',
 'RTX',
 'MHK',
 'XOM',
 'ITW',
 'NWL',
 'AIG',
 'BA',
 'AMP',
 'FBHS',
 'UHS',
 'MRO',
 'A',
 'NLOK',
 'DISH',
 'SPG',
 'ZION',
 'DIS',
 'EXR',
 'KLAC',
 'VMC',
 'PXD',
 'PNW',
 'CINF',
 'CI',
 'FOX',
 'AZO',
 'T',
 'PWR',
 'TDG',
 'ZBH',
 'FB',
 'FANG',
 'PRU',
 'TEL',
 'BSX',
 'PG',
 'NDAQ',
 'CB',
 'HES',
 'PYPL',
 'ALGN',
 'AIZ',
 'VTR',
 'MS',
 'CAT',
 'NCLH',
 'DVN',
 'SPGI',
 'TDY',
 'AMAT',
 'COST',
 'DVA',
 'ABMD',
 'CF',
 'LW',
 'LOW',
 'FE',
 'ATO',
 'ANSS',
 'ADI',
 'CMG',
 'VAR',
 'HIG',
 'AKAM',
 'LKQ',
 'ALK',
 'CAH',
 'ABC',
 'MDT',
 'DISCA',
 'SWK',
 'FLS',
 'RSG',
 'LH',
 'ZTS',
 'IR',
 'INTU',
 'WYNN',
 'CDNS',
 'HAL',
 'J',
 'BKNG',
 'FISV',
 'GRMN',
 'GILD',
 'MAR',
 'AES',
 'VNO',
 'KR',
 'SHW',
 'TXN',
 'ETFC',
 'HLT',
 'WDC',
 'HFC',
 'DGX',
 'FLT',
 'INFO',
 'STT',
 'DOW',
 'UAA',
 'MET',
 'EMR',
 'FOXA',
 'CBRE',
 'ADP',
 'AFL',
 'GPC',
 'REG',
 'AMZN',
 'DHI',
 'MGM',
 'DXC',
 'NOC',
 'VRSN',
 'TSN',
 'LUV',
 'WAB',
 'QRVO',
 'HCA',
 'ODFL',
 'BDX',
 'HD',
 'WELL',
 'AMT',
 'DOV',
 'ALL',
 'K',
 'MNST',
 'HRL',
 'HII',
 'TSCO',
 'LVS',
 'RE',
 'DRI',
 'LYV',
 'ES',
 'PLD',
 'NKE',
 'ALLE',
 'KIM',
 'UPS',
 'BEN',
 'STZ',
 'CERN',
 'CMA',
 'BXP',
 'WBA',
 'PPG',
 'DLR',
 'NRG',
 'COG',
 'SEE',
 'LDOS',
 'IVZ',
 'XEL',
 'NBL',
 'TIF',
 'CVX',
 'CHTR',
 'DAL',
 'LNC',
 'XRAY',
 'VRSK',
 'BKR',
 'PEP',
 'CLX',
 'JKHY',
 'MAA',
 'ICE',
 'DXCM',
 'CNP',
 'EXC',
 'L',
 'DHR',
 'IEX',
 'PSX',
 'CL',
 'SBUX',
 'UDR',
 'APA',
 'NEM',
 'ADSK',
 'AON',
 'GIS',
 'WAT',
 'COP',
 'MTD',
 'APD',
 'KEYS',
 'BIIB',
 'GOOG',
 'ESS',
 'AME',
 'FTV',
 'PPL',
 'PGR',
 'MMM',
 'APTV',
 'PRGO',
 'NOW',
 'BAC',
 'AVB',
 'EW',
 'MSFT',
 'SYY',
 'ETN',
 'KSU',
 'ANTM',
 'AXP',
 'NWSA',
 'DRE',
 'CCI',
 'LHX',
 'WMB',
 'NTRS',
 'TT',
 'MKC',
 'PFG',
 'TYL',
 'JPM',
 'KMX',
 'FAST',
 'ILMN',
 'HSIC',
 'CRM',
 'CARR',
 'ALB',
 'CMS',
 'RHI',
 'NWS',
 'FFIV',
 'SCHW',
 'ORLY',
 'ACN',
 'ULTA',
 'RL',
 'MO',
 'KO',
 'CE',
 'CTSH',
 'SLG',
 'AMD',
 'KMB',
 'ADM',
 'MCO',
 'RJF',
 'ROST',
 'PM',
 'EQIX',
 'PFE',
 'SIVB',
 'WRB',
 'DISCK',
 'PSA',
 'AVGO',
 'MCD',
 'LRCX',
 'AEP',
 'SO',
 'WLTW',
 'DPZ',
 'XLNX',
 'ARE',
 'ADBE',
 'MYL',
 'WEC',
 'CPRT',
 'GPN',
 'PH',
 'WY',
 'BR',
 'EVRG',
 'NFLX',
 'TWTR',
 'MKTX',
 'SJM',
 'EFX',
 'WRK']

In [6]:
#Try and Except Block added to the for loop
def stock_market(tickers,start_time, end_time):
   
    store_to_dict = {}
    for ticker in tqdm(tickers):
        print(ticker)
        try: 
            
            data = web.DataReader(
                ticker,
                'yahoo',
                start=start_time,
                end=end_time,
            )
            
            
            store_to_dict[ticker] = data
     
        except Exception as e:
            print(e)
    return store_to_dict

In [8]:
tickers = ticker_lst
start_time = '2018-02-08'
end_time = '2020-07-28'

new_18_20_SP500_dict=stock_market(tickers, start_time, end_time)
type(new_18_20_SP500_dict)

HBox(children=(FloatProgress(value=0.0, max=503.0), HTML(value='')))

TJX
NVDA
GWW
O
VFC
AAP
BAX
GLW
GL
CCL
CMI
HWM
CVS
INTC
BWA
QCOM
TPR
D
CSX
CXO
SNPS
BMY
GS
DTE
PHM
DG
JNJ
ABT
HOLX
DFS
HAS
CMCSA
IPGP
GOOGL
F
BBY
GM
DD
TTWO
SYK
EBAY
XYL
CME
MLM
LNT
DE
SLB
IFF
LMT
KMI
EQR
HSY
MRK
HBI
UNP
GD
COO
USB
VIAC
FDX
CTXS
SWKS
AMCR
ROP
FTNT
ETR
PBCT
LEN
STX
EL
MXIM
UA
TFX
NI
ABBV
PEG
GPS
FIS
IT
LEG
TRV
HRB
FITB
ECL
PNC
HPE
TXT
FMC
AMGN
MCK
URI
HON
PNR
MSCI
UNM
TFC
MA
CTVA
RF
V
TMO
HUM
PEAK
VZ
WFC
REGN
VRTX
JCI
COTY
OKE
OXY
JNPR
IP
NOV
OMC
ANET
ED
MOS
FRT
COF
CNC
RMD
AJG
CPB
MTB
EIX
EXPD
TROW
UNH
SNA
FRC
BLK
EOG
BK
IBM
ZBRA
NVR
CBOE
APH
CTL
NEE
WMT
EMN
MPC
SRE
IDXX
CHD
AVY
IPG
HBAN
MDLZ
HST
FLIR
BIO
CDW
EA
LB
PVH
TGT
CSCO
IRM
MMC
PKI
WHR
LYB
WU
PKG
XRX
ROL
HPQ
RCL
WM
PCAR
NTAP
CTAS
UAL
BLL
CHRW
TMUS
OTIS
YUM
GE
ROK
CFG
NUE
WST
MU
INCY
PAYX
AWK
AIV
MAS
DUK
ISRG
C
IQV
MSI
NSC
CAG
ALXN
ORCL
DLTR
LIN
AOS
FTI
SBAC
SYF
FCX
STE
NLSN
VLO
AAL
AAPL
EXPE
KHC
TAP
KEY
LLY
KSS
MCHP
AEE
ATVI
JBHT
PAYC
RTX
MHK
XOM
ITW
NWL
AIG
BA
AMP
FBHS
UHS
MRO
A
NLOK
DISH
SPG
ZION
DIS
EXR
KLAC
VMC
PXD
PNW
CINF
CI
FOX
AZO
T
PWR
TDG
ZBH
FB
FANG
PRU
TEL
BSX
PG
NDAQ
CB
HES
PYPL
ALGN
AIZ
VTR
MS
CAT
NCLH
DVN
SPGI
TDY
AMAT
COST
DVA
ABMD
CF
LW
LOW
FE
ATO
ANSS
ADI
CMG
VAR
HIG
AKAM
LKQ
ALK
CAH
ABC
MDT
DISCA
SWK
FLS
RSG
LH
ZTS
IR
INTU
WYNN
CDNS
HAL
J
BKNG
FISV
GRMN
GILD
MAR
AES
VNO
KR
SHW
TXN
ETFC
HLT
WDC
HFC
DGX
FLT
INFO
STT
DOW
UAA
MET
EMR
FOXA
CBRE
ADP
AFL
GPC
REG
AMZN
DHI
MGM
DXC
NOC
No data fetched for symbol NOC using YahooDailyReader
VRSN
TSN
LUV
WAB
QRVO
HCA
ODFL
'Date'
BDX
HD
No data fetched for symbol HD using YahooDailyReader
WELL
'Date'
AMT
DOV
ALL
K
MNST
HRL
HII
TSCO
LVS
RE
DRI
LYV
ES
PLD
NKE
ALLE
KIM
UPS
BEN
STZ
CERN
CMA
No data fetched for symbol CMA using YahooDailyReader
BXP
WBA
PPG
DLR
No data fetched for symbol DLR using YahooDailyReader
NRG
COG
SEE
'Date'
LDOS
IVZ
'Date'
XEL
NBL
TIF
CVX
CHTR
DAL
LNC
XRAY
VRSK
BKR
PEP
CLX
JKHY
MAA
ICE
'Date'
DXCM
CNP
EXC
L
DHR
IEX
PSX
CL
SBUX
UDR
APA
NEM
'Date'
ADSK
AON
GIS
WAT
COP
MTD
APD
KEYS
BIIB
GOOG
ESS
AME
FTV
PPL
PGR
MMM
APTV
PRGO
'Date'
NOW
BAC
AVB
EW
MSFT
SYY
ETN
KSU
'Date'
ANTM
AXP
NWSA
DRE
CCI
LHX
WMB
NTRS
TT
MKC
PFG
TYL
JPM
KMX
FAST
ILMN
HSIC
CRM
'Date'
CARR
ALB
CMS
RHI
NWS
FFIV
SCHW
ORLY
ACN
ULTA
RL
MO
KO
CE
CTSH
SLG
'Date'
AMD
KMB
ADM
MCO
RJF
ROST
PM
EQIX
PFE
SIVB
WRB
DISCK
PSA
AVGO
MCD
LRCX
AEP
SO
WLTW
DPZ
XLNX
ARE
ADBE
MYL
WEC
CPRT
GPN
PH
WY
BR
EVRG
NFLX
No data fetched for symbol NFLX using YahooDailyReader
TWTR
MKTX
SJM
EFX
WRK

dict

In [37]:
# TO-DO- Make a column out of tickers

SP500_18_20_df = pd.concat(new_18_20_SP500_dict)
# type(SP500_18_20_df)
# SP500_18_20_df.to_csv('SP500_from18_to20.csv')
df = SP500_18_20_df
df

                     High        Low       Open      Close      Volume  \
    Date
TJX 2018-02-08  38.404999  37.174999  38.270000  37.180000  10940000.0
    2018-02-09  38.125000  36.410000  37.294998  37.820000  15882000.0
    2018-02-12  38.189999  37.270000  38.125000  37.855000  10206800.0
    2018-02-13  38.095001  37.509998  37.755001  37.775002   6666600.0
    2018-02-14  38.465000  37.485001  37.544998  38.285000   8596600.0
...                   ...        ...        ...        ...         ...
WRK 2020-07-22  30.000000  29.360001  29.530001  29.860001   1157000.0
    2020-07-23  30.340000  29.559999  29.760000  30.150000   1808500.0
    2020-07-24  30.549999  29.990000  30.260000  30.209999   2008400.0
    2020-07-27  30.350000  29.629999  30.139999  30.209999   1402600.0
    2020-07-28  30.350000  29.424999  30.219999  29.469999   2021000.0

                Adj Close
    Date
TJX 2018-02-08  35.848591
    2018-02-09  36.465668
    2018-02-12  36.499420
    2018-02-13  36.422283
    2018-02-14  37.067345
...                   ...
WRK 2020-07-22  29.860001
    2020-07-23  30.150000
    2020-07-24  30.209999
    2020-07-27  30.209999
    2020-07-28  29.469999

[299410 rows x 6 columns]

In [40]:
# df = df.assign(company_names = SP500_18_20_df.index.get_level_values(0), Dates = SP500_18_20_df.index.get_level_values(1)) 
df = df.reset_index()
df

,level_0,Date,High,Low,Open,Close,Volume,Adj Close
0,TJX,2018-02-08,38.404999,37.174999,38.270000,37.180000,10940000.0,35.848591
1,TJX,2018-02-09,38.125000,36.410000,37.294998,37.820000,15882000.0,36.465668
2,TJX,2018-02-12,38.189999,37.270000,38.125000,37.855000,10206800.0,36.499420
3,TJX,2018-02-13,38.095001,37.509998,37.755001,37.775002,6666600.0,36.422283
4,TJX,2018-02-14,38.465000,37.485001,37.544998,38.285000,8596600.0,37.067345
...,...,...,...,...,...,...,...,...
299405,WRK,2020-07-22,30.000000,29.360001,29.530001,29.860001,1157000.0,29.860001
299406,WRK,2020-07-23,30.340000,29.559999,29.760000,30.150000,1808500.0,30.150000
299407,WRK,2020-07-24,30.549999,29.990000,30.260000,30.209999,2008400.0,30.209999
299408,WRK,2020-07-27,30.350000,29.629999,30.139999,30.209999,1402600.0,30.209999
299409,WRK,2020-07-28,30.350000,29.424999,30.219999,29.469999,2021000.0,29.469999

In [42]:
# Correct the column names
df2 = df.rename(columns={'level_0': 'ticker'})
df2.head()

,ticker,Date,High,Low,Open,Close,Volume,Adj Close
0,TJX,2018-02-08,38.404999,37.174999,38.270000,37.180000,10940000.0,35.848591
1,TJX,2018-02-09,38.125000,36.410000,37.294998,37.820000,15882000.0,36.465668
2,TJX,2018-02-12,38.189999,37.270000,38.125000,37.855000,10206800.0,36.499420
3,TJX,2018-02-13,38.095001,37.509998,37.755001,37.775002,6666600.0,36.422283
4,TJX,2018-02-14,38.465000,37.485001,37.544998,38.285000,8596600.0,37.067345

In [ ]:
# TO-DO List the unique ticker names identify missing ones
# QA QC the final results

### Write to csv

In [43]:
#Write to CSV
df2.to_csv('SP500_from18_to20.csv', index=False)